<div class="row col-sm-12">
    <div class="col-md-sm-2">
        <nav class="nav flex-column" >
        <ul class="list-group">
            <li class="list-group-item">
               <a routerLink="tournament">Tournament</a> 
            </li>
            <li class="list-group-item">
                <a routerLink="teams">Teams</a>
                
            </li>
            <li class="list-group-item">
                <a routerLink="players">Players</a>
            </li>

        </ul>
    </nav>
    </div>
    
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>
